<head>
    <style>
      ul { width: 100%; }
    </style>
    <script type="text/javascript">
    
    $(document).ready(function() {
      var coursesArray = <%= @courses.to_json.html_safe %>;
      var data = new Array();
      var index = 0;
      
      $.each(coursesArray,function(index,value){
        $('.js-example-data-array').append('<option value="' + (value.id+1) + '">' + value.course_code + ': ' + value.course_name +'</option>');
      });
      
      $(".js-example-data-array").select2({
        placeholder: "Search course",
        minimumInputLength: 3,
      });

      $(".panel-title").click(function() {
        var course_code = $("#course_code").text();
      });

      $('.js-example-data-array').change(function(){
        //$('#course_added').append('<p>' + $(this).find('option:selected').html() + '</p>');
        var selectedCourse = $(this).find('option:selected').html();
        var searchedCourse = findCourse(coursesArray, selectedCourse);
        //$(".panel-title").text(selectedCourse);
        //$(".panel-body").text(findCourse(coursesArray, selectedCourse).course_description);
        //$("#accordion").removeClass('hidden');

        window.location.href = "/users/" + searchedCourse.id + "/addCourse?" + "user_id=" + '<%= @user.id %>';
        /*$.ajax({
            url:   "/users/" + searchedCourse.id + "/addCourse",
            data:  {'user_id': '<%= @user.id %>'},
        }).done(function( msg ) {
          alert( "Data Saved: " + msg );
        });*/
      });
    });
    
    function findCourse(courses, selectedCourse){
      for(i=0; i<courses.length; i++){
        if(selectedCourse=== (courses[i].course_code + ': ' + courses[i].course_name))
          return courses[i];
      }
      return null;
    }

  </script>
</head>

<h3>Search Courses</h3>


<select class="js-example-data-array" style="width:100%;">
  <option></option>
</select>

<div id="course_added"><br></div>

<div class="panel-group" id="accordion">
  <%
    colors = ['#FFCCFF','#FFFFCC','#CCFFFF','#CCCCFF','#FFCCCC','#CCFFCC','#CCCCCC','#6699FF']
    color_index = 0
  %>
  <% @user.courses.each do |course| %>
      <% 
        current_color = colors[color_index % colors.size]
        color_index = color_index + 1
      %>
      <div class="panel panel-primary">
        <div class="panel-heading" style="background-color:<%= current_color %>"> 
          <div class="panel-title" style="color:black">
            <p id="course_code"><%= course.course_code %>:<%= course.course_name%></p>
          </div>
          <%= link_to 'x', remCourse_user_path(user_id: @user, course_id: course), {data: { confirm: 'Are you sure?' }, :style=>"float:right", :class=>"hover-white"} %>
          <a data-toggle="collapse" data-parent="#accordion"
                href="#accordion<%= course.id %>desc" style="margin-right:15%;" class="hover-white">
              Description
          </a>
          <a data-toggle="collapse" data-parent="#accordion"
              href="#accordion<%= course.id %>lec" class="hover-white">
            Sections
          </a>
        </div>
        <div id="accordion<%= course.id %>desc" class="panel-collapse collapse">
          <div class="panel-body">
            <%= course.course_description.html_safe %>
            <br>
            <strong><%= link_to 'More details', course, {:style => 'color:#0000EE;', :class => 'css_class'} %></strong>
          </div>
        </div>
        <div id="accordion<%= course.id %>lec" class="panel-collapse collapse">
          <div class="panel-body">


            <%= form_tag addSection_user_path(user_id: @user,course_id: course), :method => :put do %>
              <%course.Wintersections.each do |section| %>
                    <% if course.course_users.first.section_ids.include? section[0] %>
                        <li style="list-style:none;"><%= check_box_tag("section_ids[]", section[0], {:checked =>"checked"}) %>
                        <%= label_tag("", (section[0] + " ("+(section[1][4].to_s!="" ? section[1][4].to_s : "?")+"/"+(section[1][5].to_s!="" ? section[1][5].to_s : "?")+")"+ (section[1][2].to_s!="" ? "<br/> - " + section[1][2].to_s : "")).html_safe, style: "vertical-align:top;")  %></li>


                    <%else%>
                        <li style="list-style:none;"><%= check_box_tag("section_ids[]", section[0]) %>
                        <%= label_tag("", (section[0] + " ("+(section[1][4].to_s!="" ? section[1][4].to_s : "?")+"/"+(section[1][5].to_s!="" ? section[1][5].to_s : "?")+")"+ (section[1][2].to_s!="" ? "<br/> - " + section[1][2].to_s : "")).html_safe, style: "vertical-align:top;")  %></li>
                    <% end %>
              <% end %>

              <%= submit_tag("Update")%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  
      
</div>

<%= form_tag(autoSchedule_user_path, method: "get") do %>
  <%= submit_tag("Auto Schedule", class: "btn btn-sm btn-success") %>
  <br>
  <%= check_box_tag(:flag1) %>
  <%= label_tag(:flag1, "Avoid Friday Classes", class: "checkbox-inline") %>
  <br>
  <%= check_box_tag(:flag2) %>
  <%= label_tag(:flag2, "Avoid Morning Classes", class: "checkbox-inline") %>
<% end %>
