<head>
    <style>ul { width: 100%; }</style>
    <script type="text/javascript">
    
    $(document).ready(function() {
      var coursesArray = <%= @courses.to_json.html_safe %>;
      var data = new Array();
      var index = 0;
      
      $.each(coursesArray,function(index,value){
        $('.js-example-data-array').append('<option value="' + (value.id+1) + '">' + value.course_code + ': ' + value.course_name +'</option>');
      });
      
      $(".js-example-data-array").select2({
        placeholder: "Search course",
        minimumInputLength: 3,
      });

      $(".panel-title").click(function() {
        var course_code = $("#course_code").text();
      });

      $('.js-example-data-array').change(function(){
        //$('#course_added').append('<p>' + $(this).find('option:selected').html() + '</p>');
        var selectedCourse = $(this).find('option:selected').html();
        var searchedCourse = findCourse(coursesArray, selectedCourse);
        //$(".panel-title").text(selectedCourse);
        //$(".panel-body").text(findCourse(coursesArray, selectedCourse).course_description);
        //$("#accordion").removeClass('hidden');

        window.location.href = "/users/" + searchedCourse.id + "/addCourse?" + "user_id=" + '<%= @user.id %>';
        /*$.ajax({
            url:   "/users/" + searchedCourse.id + "/addCourse",
            data:  {'user_id': '<%= @user.id %>'},
        }).done(function( msg ) {
          alert( "Data Saved: " + msg );
        });*/
      });
    });
    
    function findCourse(courses, selectedCourse){
      for(i=0; i<courses.length; i++){
        if(selectedCourse=== (courses[i].course_code + ': ' + courses[i].course_name))
          return courses[i];
      }
      return null;
    }

  </script>
</head>

<h3>Search Course</h3>


<select class="js-example-data-array" style="width:100%;">
  <option></option>
</select>

<div id="course_added"><br></div>

<div class="panel-group" id="accordion">
  <% @user.courses.each do |course| %>
      <div class="panel panel-primary">
        <div class="panel-heading"> 
          <div class="panel-title">
            <p id="course_code"><%= course.course_code %>:<%= course.course_name%></p>
          </div>
          <%= link_to 'x', remCourse_user_path(user_id: @user, course_id: course), {data: { confirm: 'Are you sure?' }, :style=>"color:white;float:right"} %>
          <a data-toggle="collapse" data-parent="#accordion"
                href="#accordion<%= course.id %>desc" style="color:white;margin-right:15%;">
              Description
          </a>
          <a data-toggle="collapse" data-parent="#accordion"
              href="#accordion<%= course.id %>lec" style="color:white">
            Sections
          </a>
        </div>
        <div id="accordion<%= course.id %>desc" class="panel-collapse collapse">
          <div class="panel-body">
            <%= course.course_description %>
            <strong><%= link_to 'More details', course %></strong>
          </div>
        </div>
        <div id="accordion<%= course.id %>lec" class="panel-collapse collapse">
          <div class="panel-body">


            <%= form_tag addSection_user_path(user_id: @user,course_id: course), :method => :put do %>

              <%course.Wintersections.each do |section| %>
                    <% if course.course_users.first.section_ids.include? section[0] %>
                        <li style="list-style:none;"><%= check_box_tag("section_ids[]", section[0], {:checked =>"checked"}) %>
                        <%= label_tag("section_ids[]", section[0] + " ("+(section[1][4].to_s!="" ? section[1][4].to_s : "?")+"/"+(section[1][5].to_s!="" ? section[1][5].to_s : "?")+")") %></li>


                    <%else%>
                        <li style="list-style:none;"><%= check_box_tag("section_ids[]", section[0]) %>
                        <%= label_tag("section_ids[]", section[0] + " ("+(section[1][4].to_s!="" ? section[1][4].to_s : "?")+"/"+(section[1][5].to_s!="" ? section[1][5].to_s : "?")+")") %></li>
                    <% end %>
              <% end %>

              <%= submit_tag("Update")%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  
      
</div>

<%= link_to 'Auto Schedule', autoSchedule_user_path, class: "btn btn-sm btn-success" %>
