<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<h1>Enrolled in the following Degrees</h1>

<table>
  <thead>
    <tr>
      <th>Degree name</th>
      <th>Degree type</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.degrees.each do |degree| %>
      <tr>
        <td><%= degree.degree_name %></td>
        <td><%= degree.degree_type %></td>
        <td><%= link_to 'Abandon Degree', remDegree_user_path(user_id: @user, degree_id: degree), data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'users/searchCourse' %>

<h1>Enrolled in the following Courses</h1>

<table>
  <thead>
    <tr>
      <th>Course code</th>
      <th>Course name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.courses.each do |course| %>
      <tr>
        <td><%= course.course_code %></td>
        <td><%= course.course_name %></td>
        <td><%= link_to 'Leave Class', remCourse_user_path(user_id: @user, course_id: course), data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user == User.find(params[:id]) %>

  <%= link_to 'Edit', edit_user_path(@user) %> |

  <%= link_to 'Add Degrees', addDegreePage_user_path(@user) %> |
  <%= link_to 'Add Courses', addCoursePage_user_path(@user) %>

<% else %>
  <%= link_to 'Back', user_path(current_user) %>
<% end %>



