<p id="notice"><%= notice %></p>

<title> <%= @user.first_name %>'s Home </title>

<div class="container"><h1>Welcome <%= @user.first_name %> </h1>


<% if current_user == User.find(params[:id]) %>

  <%= link_to 'Edit Profile', edit_user_path(@user),  {:style => 'color:#444444; text-decoration:underline;', :class => 'css_class'}  %> 

<% else %>
  <%= link_to 'Back', user_path(current_user),  {:style => 'color:#444444; text-decoration:underline;', :class => 'css_class'}  %>
<% end %>
<br>

<div class="Well">
  <h3>Degrees</h3>
    
        <ul class="list-group" style="list-style-type:none;">

    <% @user.degrees.each do |degree| %>
        <li class="list-group-item" style="width:70%;"><%= degree.degree_name %>
        <%= link_to 'Abandon Degree', remDegree_user_path(user_id: @user, degree_id: degree), data: { confirm: 'Are you sure?' },class:"btn btn-xs btn-danger pull-right", style:"color:#FFFFFF" %> 
        <%= link_to 'View/Edit', edit_page_degree_path(degree), class:"btn btn-xs btn-success pull-right", style:"color:#FFFFFF" %></li>
    <% end %>

<br>
<%= link_to 'Create New Degree', new_degree_path, class: "btn btn-sm btn-info" %>
</div>



<br>
<div>
  <div style="width:24%;float:left;padding:0.5%;">
  <%= render 'users/searchCourse' %>
  </div>
  <div style="width:75%;float:left;padding:0.5%;">
  <%= render 'users/buildTimetable' %>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>




