<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<h1>Enrolled in the following Degrees</h1>

<table>
  <thead>
    <tr>
      <th>Degree name</th>
      <th>Degree type</th>
    </tr>
  </thead>

  <tbody>
    <% @user.degrees.each do |degree| %>
      <tr>
        <td><%= degree.degree_name %></td>
        <td><%= degree.degree_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Enrolled in the following Courses</h1>

<table>
  <thead>
    <tr>
      <th>Course code</th>
      <th>Course name</th>
    </tr>
  </thead>

  <tbody>
    <% @user.courses.each do |course| %>
      <tr>
        <td><%= course.course_code %></td>
        <td><%= course.course_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |

<%= link_to 'Add Degrees', addDegreePage_user_path(@user) %> 
<%= link_to 'Add Courses', addCoursePage_user_path(@user) %> 



