<p id="notice"><%= notice %></p>

<p>
  <strong>
  <%= @user.first_name %>
  <%= @user.last_name %>
  </strong>
</p>

<h1>Enrolled in the following Degrees</h1>

<div class="container">
<div class="row">
<table class="col-md-4">
  <colgroup>
    <col width="60%">
    <col width="20%">
    <col width="20%">
  </colgroup>
  <thead>
    <tr>
      <th>Degree name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.degrees.each do |degree| %>
      <tr>
        <td style="height: 30px;"><%= degree.degree_name %></td>
        <td style="height: 30px;"><%= link_to 'View/Edit', edit_page_degree_path(degree), class:"btn btn-xs btn-success", style:"color:#FFFFFF" %></td>
        <td style="height: 30px;"><%= link_to 'Abandon Degree', remDegree_user_path(user_id: @user, degree_id: degree), data: { confirm: 'Are you sure?' },class:"btn btn-xs btn-danger", style:"color:#FFFFFF"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>

<%= link_to 'Create New Degree', new_degree_path, class: "btn btn-sm btn-info" %>

<br>
<div>
  <div style="width:24%;float:left;padding:0.5%;">
  <%= render 'users/searchCourse' %>
  </div>
  <div style="width:75%;float:left;padding:0.5%;">
  <%= render 'users/buildTimetable' %>
  </div>
</div>

<br>

<% if current_user == User.find(params[:id]) %>

  <%= link_to 'Edit', edit_user_path(@user) %> |

<% else %>
  <%= link_to 'Back', user_path(current_user) %>
<% end %>



