<head>
    <script type="text/javascript">
    
    $(document).ready(function() {
      var data = new Array();
      var index = 0;
      <% @courses.each do |course| %>
        var el = {id: index, text: '<%= course.course_code %>' + ': ' + '<%= course.course_name %>'};
        data.push(el);
        index++;
      <% end %>
      $.each(data,function(index,value){
        $('.js-example-data-array-multiple').append('<option value="' + (data[index].id+1) + '">'+data[index].text+'</option>');
      });
      
      $(".js-example-data-array-multiple").select2({
        placeholder: "Search course",
      });
      $('.js-example-data-array-multiple').change(function(){
        $('#course_added').append('<p>' + $(this).find('option:selected').html() + '</p>');
      });
    });
  </script>
</head>

<h1>Add requirement</h1>

<% course_list ='' %>
<% num_courses =0 %>

  <%= select(params, "course_list", {},{}, {class: "js-example-data-array-multiple", id: "course_list", multiple: true}) %>
  <%= select(params, "num_courses", {"1" => 1,"2" => 2,"3" => 3,"4" => 4,"5" => 5}, class: "js-example-data-array-multiple", id: "num_courses") %>

<br>

<%= button_to "Add Requirement", :action => "addReq", :class => "button", :method => :patch, :params => params  %>

<div id="req_added"><br></div>
