<h1><%= @degree.degree_name %> </h1>

<%= render 'add_req' %>
<br>
<br>
<%= render 'form' %>
<br>
<br>
<%= link_to 'Back to Degrees', degrees_path, class: "btn btn-sm btn-default" %> 
<%= link_to 'Home', user_path, class: "btn btn-sm btn-default" %>

