<p id="notice"><%= notice %></p>

<h1>Listing Degrees</h1>

<div class="row">
<table class="col-md-4">
  <colgroup>
    <col width="10%">
    <col width="70%">
    <col width="10%">
    <col width="10%">
  </colgroup>

  <thead>
    <tr>
      <th></th>
      <th>Degree name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% counter = 0 %>
    <% @degrees.each do |degree| %>
      <% counter += 1 %>
      <tr>
        <td style="height: 30px;text-align:center;"><%= counter %></td>
        <td style="height: 30px;"><%= degree.degree_name %></td>
        <td style="height: 30px;"><%= link_to 'Edit', edit_page_degree_path(degree), class:"btn btn-xs btn-success", style:"color:#FFFFFF" %></td>
        <td style="height: 30px;"><%= link_to 'Destroy', degree, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-xs btn-danger", style:"color:#FFFFFF" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
</div>
<%= link_to 'Create New Degree', new_degree_path, class: "btn btn-sm btn-info" %>
</div>
