<div class="container">
<div class="well">

<p id="notice"><%= notice %></p>

<p>
  <strong style="font-size:30px">
  <%= @course.course_code + ':' %>
  <%= @course.course_name %>
  </strong>
</p>

<p>
  <%= @course.course_description %>
</p>
</div>
<div class="well">

<div class="actionBox">
<h3>Comments:</h2>
        <ul class="commentList">
          <% @course.comments.each do |comment| %>
            <li>
                <div class="commentText">                  
		  <%= comment.body %>
                </div>
            </li>
           <% end %>
        </ul>
</div>

<br>
</div>

<%= link_to 'Add Comments', new_course_comment_path(@course), class: "btn btn-sm btn-info" %> 
</div>
