<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-application" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "LineUp", root_path, class:"navbar-brand" %> 
    </div>
    <div class="navbar-inner">
      <ul class="nav navbar-nav navbar-right" role="tablist">
        <% if user_signed_in? %>
          <li class = "pull-right"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li class = "pull-right"><%= link_to "Sign up", new_user_registration_path %></li> 
          <li class = "pull-right"><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

<br>
<br>
  <ul style="list-style-type:none;">
    <li><h5>Useful Links<h5></li>
    <li><a href="http://www.rosi.utoronto.ca" style="color:#555555;">ROSI</a></li>
    <li><a href="http://coursefinder.utoronto.ca" style="color:#555555;">Course Finder</a></li>
    <li><a href="http://degreeexplorer.utoronto.ca" style="color:#555555;">Degree Explorer</a></li>
    <li><a href="http://www.artsandscience.utoronto.ca/ofr/timetable/winter/sponsors.htm" style="color:#555555;">ArtSci Timetable Directory</a></li>
    <li><a href="http://www.undergrad.engineering.utoronto.ca/office_of_the_registrar/timetables.htm" style="color:#555555;">APSC Timetable Directory</a></li>
    <li><a href="http://www.apsc.utoronto.ca/Calendars/Current/Course_Descriptions.html" style="color:#555555;">APSC course descriptions</a></li>
    <li><a href="http://www.apsc.utoronto.ca/Calendars/Current/Engineering_Programs.html" style="color:#555555;">APSC program descriptions</a></li>
  </ul>


</body>
</html>
